.creators {
    width: 100%;
    .creators_items {
        width: 100%;
        padding: 80px 0;
        .creators_header {
            @include header-style;
        }
        .creators_content {
            margin-top: 60px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            .creators_item {
                position: relative;
                border-radius: 20px;
                background: $main-gray;
                padding: 20px;
                text-align: center;
                @include up-animation;
                .item_num {
                    height: 30px;
                    width: 30px;
                    background: $main-dark;
                    border-radius: 100%;
                    color: $text-gray;
                    font-family: $space-mono;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 20px;
                    top: 18px;
                }
                .item_text {
                    margin-top: 20px;
                    .item_title {
                        @include little-title-style;
                    }
                    .item_info {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 5px;
                        .info_title {
                            color: $text-gray;
                        }
                        .info_value {
                            color: #fff;
                            font-family: $space-mono;
                        }
                    }
                }
            }
        }
        .creators_small_btn {
            display: none;
        }
    }
}